<h1>rides</h1>
<h2>Club: {{App.clubController.club.name}}</h2>
<h2>Members</h2>
<ul>
	{{#each App.clubController.club.members}}
		<li>{{name}}</li>
	{{/each}}
</ul>



<ul>
{{#view App.RidesListView contentBinding="this" }}
<li>{{name}}</li>

	<ul>
		<li>Average Speed: {{averageSpeedMph}} mph</li>
		<li>Distance: {{distanceInMiles}} miles</li>
	</ul>

{{/view}}
</ul>

